mixin dxpFormRowInputText(id, label, icon='', placeholder='')
    .dxp-template-form-row
        label(for=`node-input-${id}`)
            if icon
                i.fa(class=`fa-${icon}`)
            span(data-i18n=label)= label.charAt(0).toUpperCase() + label.slice(1)
        .content
            input(
                type="text"
                id=`node-input-${id}`
                data-i18n=`[placeholder]${label}`
                placeholder=placeholder
            )&attributes(attributes)
            if block
                block

mixin dxpFormRowSelect(id, label, icon='')
    .dxp-template-form-row
        label(for=`node-input-${id}`)
            if icon
                i.fa(class=`fa-${icon}`)
            span(data-i18n=label)= label.charAt(0).toUpperCase() + label.slice(1)
        .content
            select(
                id=`node-input-${id}`
            )&attributes(attributes)
            if block
                block

mixin dxpFormRowCheckbox(id, label, icon='', checkboxText='')
    .dxp-template-form-row
        label(for=`node-input-${id}`)
            if icon
                i.fa(class=`fa-${icon}`)
            span(data-i18n=label)= label.charAt(0).toUpperCase() + label.slice(1)
        .content
            .checkbox
                input(type="checkbox" id=`node-input-${id}`)&attributes(attributes)
                if checkboxText
                    span.italic= checkboxText
            if block
                block
